@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/background.jpg);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

form {
    border-radius: 20px;
    padding: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
    opacity: 0.8;
}

form:hover {
    box-shadow:0 0 30px 4px rgba(0,0,0,0.3);
}

p, a {
    color: #343E3D;
    font-family: 'ZCOOL KuaiLe', cursive;
}

input {
    padding:5px;
    border: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    opacity: 50%;
    outline: none;
}

input[type=submit] {
    opacity: 90%;
}

.signIn {
    background-color: #C0C0C0;
}

.signUp {
    background-color: #C0C0C0;
}

ul {
    list-style-type: none;
}

li {
    opacity: 0.8;
    padding-left: 10px;
    float: left;
}

li a {
    background-color: #C0C0C0;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}

input[type=submit] {
    opacity: 0.7;
    border-radius: 5px;
}

input[type=submit]:active {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
}

